doctype html
html
	head
		meta(charset='utf-8')
		title Наша няша
		meta(id="viewport", name='viewport', content='initial-scale=1')
		meta(name='format-detection', content='telephone=no')
		link(rel='stylesheet', media='all', href='./css/vendor.css')
		link(rel='stylesheet', media='all', href='./css/index.css')
		link(rel='stylesheet', media='all', href='./css/loader.css')
		link(rel='stylesheet', media='all', href='./css/font-awesome.css')


		script(src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB6psUXwinExsIj5Mm78-y6-gRhNeS_lYw')
		// vendor scripts
		script(src='./js/vendor.js')

		// app
		script(src='./js/index.js')
body
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				a.navbar-brand(href="/" lang-resource resource="landing|brand" tag="text")
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					include ./textResource/langResourceEdit
					include ./textResource/language
					li
						include ./account/account_header.jade
	.container-fluid
		.row
			.main(ng-view)
				h.page-header Панель